<section class="elPortafolio">
    <div class="row  container justify-content-center">
        <div class= "micarrusel slider lazy slick-initialized slick-slider"  >

            <button class="slick-prev slick-arrow " type="button" role="button" style="display: block; "> 

            </button>
           <div class="slick-list draggable">

               <div class="slick-track" 
               style="width: 2244px; 
               transform: traslate3d(-748px, 0px, 0px);" 
               role="listbox">
               <!-- imagen 1-->
               <div class="slick-slide slick-active" style="width:187px;">
                <div class="image">
                    <img src="{% static 'base/img/portafolio/port1.jpg' %}" alt="" srcset="">
                </div>
               </div>

               <!-- imagen 2-->
               <div class="slick-slide slick-active " style="width:187px;">
                <div class="image">
                    <img src="{% static 'base/img/portafolio/port2.jpg' %}" alt="" srcset="">
                </div>
               </div>

                <!-- imagen 3-->
                <div class="slick-slide slick-active" style="width:187px;">
                    <div class="image">
                        <img src="{% static 'base/img/portafolio/port3.jpg' %}" alt="" srcset="">
                    </div>
                </div>

                 <!-- imagen 4-->
               <div class="slick-slide " style="width:187px;">
                <div class="image">
                    <img src="{% static 'base/img/portafolio/port4.jpg' %}" alt="" srcset="">
                </div>
               </div>

               </div>

           </div>
            <!-- lista de las imagenes -->

           




            <button class="slick-next slick-arrow " type="button" role="button" style="display: block; "> 

            </button>

        </div>

    </div>



</section>
