{% extends 'base/base.html' %}
{% load static %}





{% block hero %}

{% endblock hero %}


{% block textoHero %}
<div class="miTop">
    
</div>
{% endblock textoHero %}


{% block servicios %}

{% endblock servicios %}

{% block paralax %}

{% endblock paralax %}

{% block relleno %}
<section id="introduction"  class="tm-section-pad-top" >
   <div class="container ">
       <div class="row justify-content-center  " >
            <div class="header-articulo text-center">
                <h1 id=titulo-servicio> Software a medida </h1>
                <p><span>alguna informacion de relleno</span></p>
            </div>
       
       </div>
       <div class="row justify-content-center  container">
        <div class= "img-top text-center">
         <img src="{% static 'base/img/servicios/web_app.jpg' %}" alt="imagen del servicio" >
        </div>
     
         </div>
       <div class="row  justify-content-center">
        <div class="header-articulo text-center">
            <h1> Software a medida </h1>
            <p><span>alguna informacion de relleno</span></p>
        </div>

        <div class="texto-servicio text-justify">
                <p>
                La <strong> publicidad online </strong>  es el conjunto de estrategias que se utilizan para dar a conocer un producto o servicio a la sociedad adaptadas a un canal digital. Para esto se crean impactos que lleguen a los receptores a través de internet, las redes sociales
                  o el uso del smartphone.
                </p>

                <h3>
                    5 TIPOS DE PUBLICIDAD ONLINE
                </h3>
                <p class="parrafo">
                    1.-  BANNER .-  Se trata de un espacio colocado en un lugar estratégico 
                    de la página web, de distinto tamaño y forma que sirve para mostrar 
                    anuncios de otras compañías o de otras páginas web.

                </p>
               
                <p class="parrafo">
                    2.- EMAIL MARKETING .-   Se trata de la forma de publicidad que más 
                    fácilmente puede evitar el usuario. Dentro de la publicidad online,
                     los anuncios enviados al correo electrónico pueden desaparecer en el 
                     buzón de spam, perderse o que el propio usuario decida borrar el 
                     mensaje sin siquiera abrirlo.
                </p>

                <p class="parrafo">
                    3.- POP UP .-  Seguro que has cerrado cientos de anuncios pop up en tu vida.
                     Dentro de la publicidad online, el pop up es la forma publicitaria más 
                     incómoda. Sobretodo si no se trabaja adecuadamente.
                    Se trata de una ventana emergente que aparece al abrir un sitio web,
                    especialmente molesta por lo difícil que resulta en ocasiones su cierre.

                </p>

                <p class="parrafo">
                    4.- Publicidad en redes Sociales.- La mayoría de las redes sociales ofrecen 
                    promocionar los mensajes o contenidos que las propias compañías, o 
                    usuarios individuales, suben a ella. Así, es posible promocionar un post 
                    en Facebook, un tweet en Twitter o una instantánea en Instagram.
                    Los mensajes promocionados llegan a más público, se posicionan más alto y 
                    tienen más opciones de conseguir un resultado exitoso.

                </p>

                <p class="parrafo">
                    5.- Publicidad en videos .-Incluyen los anuncios insertados en vídeos
                     de YouTube, Dailymotion, Vimeo o Vine, posibles o no de evitar, pero
                      que saltan al usuario antes de comenzar a reproducir el vídeo.
                    Pero esta forma de publicidad online no se queda aquí, puesto que incluye 
                    también aquellos banners o anuncios insertados en sitios web y que tienen
                     forma de vídeo. Está demostrado que los vídeos logran captar mejor
                      la atención de los visitantes que un anuncio corriente.


                </p>
         
        </div>

       </div>

   </div>
       
</section>


{% endblock relleno %}


