{% extends 'base/base.html' %}
{% load static %}





{% block hero %}

{% endblock hero %}


{% block textoHero %}
<div class="miTop">
    
</div>
{% endblock textoHero %}


{% block servicios %}

{% endblock servicios %}

{% block paralax %}

{% endblock paralax %}

{% block relleno %}
<section id="introduction"  class="tm-section-pad-top" >
   <div class="container ">
       <div class="row justify-content-center  " >
            <div class="header-articulo text-center">
                <h1 id=titulo-servicio> Hosting y Dominio </h1>
                <p><span>alguna informacion de relleno</span></p>
            </div>
       
       </div>
       <div class="row justify-content-center  container">
           <div class= "img-top text-center">
            <img src="{% static 'base/img/servicios/hosting.jpg' %}" alt="imagen del servicio" >
           </div>
        
       </div>

       <div class="row  justify-content-center">
        <div class="header-articulo text-center">
            <h1> PHosting y Dominio</h1>
            <p><span>alguna informacion de relleno</span></p>
        </div>

        <div class="texto-servicio text-justify">
                <p>
                La <strong> publicidad online </strong>  es el conjunto de estrategias que se utilizan para dar a conocer un producto o servicio a la sociedad adaptadas a un canal digital. Para esto se crean impactos que lleguen a los receptores a través de internet, las redes sociales
                  o el uso del smartphone.
                </p>

               
                <p class="parrafo">
                    1.-  BANNER .-  Se trata de un espacio colocado en un lugar estratégico 
                    de la página web, de distinto tamaño y forma que sirve para mostrar 
                    anuncios de otras compañías o de otras páginas web.

                </p>            

                </p>
         
        </div>

       </div>

   </div>
       
</section>


{% endblock relleno %}
