:root{
    --naranja: #ffcc00;
    --azul:#183153;

}


.miTop{

    height:5rem;
    background-color:#2E3032;
    
}

#titulo-servicio{
    text-decoration: underline black;
    color: var(--azul);
    
}

.img-top img{
    max-height: 30rem;
    max-width: 90%;
}


.portafolio{
    margin-left: 5%;
    margin-top: 6rem;
}